

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

:root
{
    --color-bg: #161616;
    --color-bg-l: #272727;
    --color-bg-d: #202020;
    --color-accent : #00bbff;
    --color-fg: rgb(240, 240, 240);
}

html
{
    
    height: 10vh;
}

body {
    /* background-color: rgb(217, 231, 239); */
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-size: medium;
}

#mainScr h1 {
    margin-top: 64px;
}

#mainScr h2 {
    margin-bottom: 100px;
}

h1
{
    text-align: center;
    margin-bottom: 16px;
    font-size: 34px;
}

h2
{
    color: #ababab;
    margin-bottom: 64px;
    font-weight: normal;
    font-size: 24px;
}

.maindiv {
    display: flex;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.maindiv_item {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 10px;
    background-color: var(--color-bg-l);
    color: inherit;
    border: 9px solid var(--color-bg-l);
}


button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 80px;
    min-width: max-content;
    height: 35px;
    min-height: max-content;
    color: inherit;

    font-size: inherit;
    background-color: var(--color-bg-l);

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #383838;
}

button img
{
    width: 24px;
}


input, select {
    cursor: pointer;
    font-size: inherit;
}

input:focus, select:focus {
    outline: none;
}

select option {
    color: var(--color-fg);
    font-weight: normal;
    border-radius: 100px;
}


.dialogueBackground {
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    backdrop-filter: blur(4px);
    background-color: #00000044;
    align-items: center;
    justify-content: center;
}

.dialogue {
    padding-block: 20px;
    padding-inline: 32px;
    display: flex;
    gap: 35px;
    position: fixed;
    top: 40dvh;
    left: 50dvw;
    transform: translateY(-50%) translateX(-50%);
    background-color: var(--color-bg);
    box-shadow: 0px 0px 50px #000000;
    flex-direction: column;
    border-radius: 12px;
    align-items: center;
    max-width: 90dvw;
    width: max-content;
    border: 1px solid var(--color-bg-l);
}

.dialogue div
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
}



.mainbutton {
    margin-top: 32px;
    padding: 0;
    height: calc(13px + 22px);
    width: calc(76px + 66px);
}



header {
    width: 100dvw;
    padding-block: 16px;
    /* background-color: #00bbff20; */
    /* box-shadow: 0px 0px 16px 0 #000000bb; */
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
    padding-inline: 16px;
}


header h1
{
    margin: 0;
}


main {
    /*                  */
    margin-top: 100px;
    padding-inline: 20px;
    border-radius: 10px;
    max-width: 70ch;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: calc(100dvh - 100px);
}

.sessonData {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-inline: 16px;
}

.inputDiv
{
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.textInput
{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--color-accent);
    color: inherit;
    cursor: initial;
    outline: none;
    padding: 2px;
    width: 100%;
}

.textInput:focus
{
    
}


li {
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    display: flex;
    border-radius: 8px; 
    background-color: var(--color-bg-d);
    padding-inline: 20px;
    padding-block: 14px;
}

li:first-child {
    border-top: none;
}


.profiles_list {
    margin-top: 64px;
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}



select {
    border-radius: 5px;
    background-color: var(--color-bg-d);
    color: inherit;
    font-size: inherit;
    border: 1px solid #2d2d2d;
}

.profiles_list select {
    text-align: right;
    border: none;
    padding-right: 5px;
}


#mainScr
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editSession {
    display: none;
}



div.addProfile
{
    display: flex;
    position: fixed;
    bottom: 42px;
    border-radius: 50px;
    align-items: center;
    gap: 0;
    background-color: var(--color-bg);
    border: 1px solid rgb(55, 55, 55);
    overflow: hidden;
    box-shadow: 0 0 38px 0px #00000088;
}

.addProfile button
{
    background-color: var(--color-bg-l);
    padding: 0;
    min-width: 0;
    height: unset;
    width: 48px;
    aspect-ratio: 1/1;
    color: inherit;
    font-size: large;
    border: none;
    border-left: 1px solid #383838;
    border-radius: 0px;

}

.inputNewProfile input
{
    border: none;
    padding: 8px;
    padding-inline: 16px;

}

div.inputNewProfile
{
    display: flex;
    flex-direction: column;
}

.suggestion
{
    background-color: #181818;
    border-radius: 0 0 5px 5px;
    padding: 5px;
    color: grey;

    display: none;
}


.spin {
    width: 20px;

    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg);
    }
}

.errDiv {
    position: fixed;
    background-color: #e94b46;
    padding: 8px;
    width: 100%;
    text-align: center;
    /* display: flex; */
    display: none;
    align-items: center;
    gap: 16px;
    justify-content: center;
}

.errDiv button
{
    aspect-ratio: 1/1;
    width: 20px;
    padding: 0;
    background-color: #ffffff22;
    border-color: #ffffff33;
}

.errDiv button img
{
    width: 18px;
}

label
{
    font-size: inherit;
}


