
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    /* background-color: rgb(217, 231, 239); */
    background-color: #171717;
    color: white;
}

h1 {
    margin: 64px 0 100px 0;
    font-size: large;
    text-align: center;
}

.maindiv {
    display: flex;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.maindiv_item {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    margin: 4px;
    border-radius: 5px;
    border: 10px solid aliceblue;
    background-color: aliceblue;
}


button {
    padding: 5px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 80px;
    min-width: max-content;
    height: 35px;
    min-height: max-content;
    
    font-size: inherit;
}

input {
    cursor: pointer;
    font-size: inherit;
}
select { cursor: pointer }


.dialogueBackground {
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    backdrop-filter: blur(4px);
    background-color: #00000044;
    align-items: center;
    justify-content: center;
}

.dialogue {
    padding: 20px;
    display: flex;
    gap: 50px;
    position: fixed;
    top: 40dvh;
    left: 50dvw;
    transform: translateY(-50%) translateX(-50%);
    background-color: #1f1f1f;
    box-shadow: 0px 0px 32px #000000;
    flex-direction: column;
    border-radius: 8px;
    align-items: center;
    width: max-content;
}

.dialogue div
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 40px;
}


.mainbutton_div {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.mainbutton {
    background-color: #f0f8ff;
    border-radius: 5px;
    padding: 10px 50px;
    margin-top: 32px;
}



header {
    width: 100dvw;
    padding-block: 10px;
    background-color: #00bbff20;
    box-shadow: 0px 0px 16px 0 #000000bb;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
    padding-inline: 20px;
}


header h1
{
    margin: 0;
}


main {
    margin-top: 100px;
    padding-inline: 20px;
    border-radius: 10px;
    max-width: 70ch;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: calc(100dvh - 100px);
}



li {
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    display: flex;
    border-top: 1px solid #2a2a2a;
}

li:first-child {
    border-top: none;
}


.profiles_list {
    margin-top: 64px;
    overflow-y: scroll;
    width: 100%;
}



.profiles_list select {
    width: 128px;
    border: none;
    margin: 8px;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: inherit;
    padding: 8px;
    font-size: inherit;

}


.editSessionBtn {
    
}

#mainScr
{
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editSession {
    display: none;
}


.inputText
{
    display: flex;
    gap: 10px;
    margin-inline: auto;
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;
}

.textInput
{
    background-color: #1f1f1f;
    border: none;
    border-bottom: 2px solid #0bf;
    color: inherit;
    cursor: initial;
    outline: none;
    border-radius: 5px 5px 0 0; 
    padding: 5px;
}


div.addProfile
{
    display: flex;
    align-items: start;
    gap: 16px;
    margin-block: 16px;
}

.addProfile button
{
    background-color: #1f1f1f;
    background-color: #0bf;
    padding: 0;
    min-width: 0;
    height: unset;
    width: 42px;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 10px;
    color: inherit;
    box-shadow: 0 0 32px 0px #00000088;
    font-size: large;
}

div.inputNewProfile
{
    display: flex;
    flex-direction: column;
}

.suggestion
{
    background-color: #181818;
    border-radius: 0 0 5px 5px;
    padding: 5px;
    color: grey;
}


.spin {
    width: 20px;

    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg);
    }
}
